h3 {
    color: gray;
    font-style: initial;
}

h2 {
    color: rgb(204, 124, 250);
    font-style: inherit ;
    font-family: sans-serif;
}


.difficultySelect {
margin: 10px;
font-size: 120%;
color:white;
background-color: #343f68;
}

.languageSelect{
    margin: 10px;
    font-size: 120%;
    color:white;
    background-color: #343f68;
}
.categorySelect {
    margin: 10px;
    font-size: 120%;
    color:white;
    background-color: #343f68;
}

.typeSelect {
    margin: 10px;
    font-size: 120%;
    color:white;
    background-color: #343f68;
}

.submitButton {
    margin: 10px;
    font-size: 120%;
    text-anchor:white;
    background-color: #343f68;
}
.wordInput {
    font-size: 120%;
    color:white;
    background-color: #343f68;
}
::placeholder {
    color: white;
}