header {
    background-color: #343f68;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    
}
a {
    text-decoration: none;
    
}

header div {
    margin: 0px;
    padding: 0px;
}

.headerList {
    align-content: center;
    background-color: #273050;
    padding: 0px;
    margin: 5px;
    
    
    
}
.logoHeader {
    width: 15%;
    
}
.headerLink {
    text-align: center;
    color: white;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid black;
    background-clip: padding-box;
    
}
.headerLinkText {
color: white;


}
header li:hover {
    background: #d95d39;
}
.navDrop{
    
    
}
.signOut{
    color: red;
    background-color: rgba(250, 235, 215, 0);
    Border: none;
    text-align: center;
    color: white;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid black;
    background-clip: padding-box;
  }
  .signOutB{
    color: red;
    background-color: rgba(250, 235, 215, 0);
    text-align: center;
    color: white;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid black;
    background-clip: padding-box;
  }