header {
    background-color: #0000ff;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

header div {
    margin: 0px;
    padding: 0px;
}

.headerList {
    align-content: center;
    background-color: lightblue;
    padding: 0px;
    margin: 0px;
}

.headerLink {
    text-align: center;
    color: white;
    width: 100vw;
    padding: 10px;
    border-bottom: 1px solid black;
    background-clip: padding-box;
}

header li:hover {
    background: aqua;
}